{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">BÁO CÁO THỐNG KÊ ĐIỂM</h1>

<canvas id="scoreChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const dataFromDjango = {{ data|safe }};

const subjects = Object.keys(dataFromDjango);

const level1 = subjects.map(s => dataFromDjango[s][">=8"]);
const level2 = subjects.map(s => dataFromDjango[s]["6-8"]);
const level3 = subjects.map(s => dataFromDjango[s]["4-6"]);
const level4 = subjects.map(s => dataFromDjango[s]["<4"]);

new Chart(document.getElementById("scoreChart"), {
    type: 'bar',
    data: {
        labels: subjects,
        datasets: [
            { label: '>=8', data: level1 },
            { label: '6-8', data: level2 },
            { label: '4-6', data: level3 },
            { label: '<4', data: level4 },
        ]
    }
});
</script>

{% endblock %}
